:root {
    --section-padding: 120px;
    --section-padding-md: 90px;
    --section-padding-sm: 60px;

    --row-padding: 0 30px;
    --row-padding-md: 0 20px;

    --primary-one: #fff;
    --primary-two: #000;
    --primary-three: #3c474c;

    --text-jost: 'Jost', sans-serif;
    --text-play: 'Playfair Display', serif;
}